<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>错误页</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <style type="text/css">
    	* {
    		margin: 0px;
    		padding: 0px;
    		list-style: none;
    	}
    </style>
</head>

<body style="height: 100%">
	<div class="">
	    <h2 class="text-center">客户信息demo错误页</h2>
	    <br>
        <p class="text-center"><%= message %></p>
	</div>
</body>

</html>
